/*
Theme Name: Consal
Theme URI: http://wp.coderspoint.net/consal
Author: Coderspoint
Author URI: http://coderspoint.net/
Developed By: Md. Aman Ullah
Description: Consal is fresh subtle WordPress Theme design with clean and minimal design. This template is very suitable for your Corporate and Creative Agency, Finance and Consultant or any type of company website. We tried to build an simple site providing everything required for a Consal website.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Consal
Tags: one-column, two-columns, right-sidebar, left-sidebar

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Consal - Agency & Corporate WordPress Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Raleway', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
	text-decoration: none !important;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: 'Raleway', 'sans-serif';
}

p {
	margin-bottom: 1em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-size: 15px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
	outline: none !important;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
	font-family: 'Raleway', sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	line-height:1.5;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 0.5em 0.5em;
  padding: 0 0 0 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .5em;
	padding-left: .5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1em 1em;
}

img.size-full, img.size-large, img.wp-post-image, img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table{
	margin:20px 0;
	width:100%;
	border:1px solid #ddd;
	border-collapse:separate;
	border-left:0;
	border-radius:4px
}
table th, table td{
	padding:8px;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	vertical-align:top;
	text-align:left;
	line-height:18px
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td{
	border-top:0
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child{
	border-radius:4px 0 0 0
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child{
	border-radius:0 4px 0 0
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child{
	border-radius:0 0 0 4px
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child{
	border-radius:0 0 4px 0
}
.post {
  clear: both;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
  border: 1px solid #cccccc;
  color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #77be2d;
	
}

a:visited {}

a:hover,
a:focus,
a:active {
	color: #77be2d;
	text-decoration:none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
    outline: none !important;
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .pagination_area, 
.site-main .comment-navigation, 
.site-main .posts-navigation, 
.site-main .post-navigation {
  float: left;
  margin: 70px 0 1.5em;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  float: left;
  margin: 0 0 1.5em;
  width: 100%;
}
#secondary div aside.widget:first-child {
  margin-top: 0;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
aside.widget ul {
  list-style: outside none none;
}
aside.widget > ul,aside.widget .menu-all-pages-container > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
aside.widget .menu-item-has-children ul.sub-menu,
aside.widget .menu-item-has-children ul.sub-menu {
  width: 210px;
}

aside.widget .menu-item-has-children ul.sub-menu,
.footer_widgets .menu-item-has-children ul.sub-menu,
.footer_widgets .has_mehgamenu .megamenu {
  background: transparent;
  opacity: inherit;
  padding: inherit;
  position: inherit;
  top: inherit;
  visibility: inherit;
  z-index: inherit;
}
aside.widget .menu-item-has-children ul.sub-menu li,
.footer_widgets .menu-item-has-children ul.sub-menu li {
  border-bottom: 0 none;
}
aside.widget .menu-item-has-children ul.sub-menu li a {
  padding:0 15px;
}
.footer_widgets .menu-item-has-children ul.sub-menu li a,
.footer_widgets .has_mehgamenu .megamenu ul li a {
color: #f1f1f1;
display: inline-block;
font-size: 15px;
line-height: 32px;
text-decoration: none;
padding:0 10px;
}
asid.footer_widgets .navbar-default .navbar-nav > li > a:focus,
asid.footer_widgets .navbar-default .navbar-nav > li > a:hover,
asid.footer_widgets .current-menu-item ul.sub-menu li a:hover,
aside.footer_widgets ul li.current-menu-item a,
aside.footer_widgets ul li.current_page_item a,
asid.footer_widgets .mainmenu .navbar-nav > li.current-menu-item > a {
  color: #77be2d;
}

.footer-contact-form .wpcf7-form-control-wrap {
    width: 100%;
    margin-bottom: 7px;
}

.footer-contact-form input, .footer-contact-form textarea {
    width: 100%;
    background: transparent;
    color: #fff;
}

.footer-contact-form input:focus , 
.footer-contact-form textarea:focus {
    color: #fff;
}

.footer-contact-form textarea {
    height: 50px;
}

.footer-contact-form .wpcf7-submit {
    line-height: 25px;
    width: auto;
    font-size: 14px;
    padding: 0 20px;
}

.textwidget .address-box {
	margin-bottom: 10px;
	margin-left: 10px;
}

.textwidget .address-box i.fa {
    width: 25px;
    color: #77be2d;
    font-size: 15px;
}



/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
  clear: both;
  margin: 1.5em 0 0;
}

article.post {
  float: left;
  width: 100%;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}



/* TYPOGRAPHY */
p{
	color: #777;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 0;
}

/* SHORTCUT CLASSES */

.title span {
	color: #77be2d;
}


.no-padding{
  padding: 0;
}

.v_middle{
	display: inline-block;
	float: none;
	vertical-align: middle;
	margin-right: -3px;
}
.no_margin{
	margin: 0;
}
input:focus,
textarea:focus{
	box-shadow: 0 0 0;
	outline: 0;
}

/* SECTION TITLE STYLE */
.section_title {
  text-align: center;
  float: left;
  width: 100%;
}
.section_title.ttl_left,
.section_title.Left {
	text-align: left;
}
.section_title .title {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 43px;
  position: relative;
  margin-top: 0;
}

.section_title .title:before{
	position: absolute;
	content: "";
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100px;
	height: 2px;
	background: #77be2d;
	bottom: -20px;
}
.section_title.ttl_left .title:before,
.section_title.Left .title:before {
	left: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.sub_text {
	line-height: 24px;
}

/* BUTTON STYLE */
.consal_btn{
	line-height: 46px;
	border: 1px solid #fff;
	border-radius: 0px;
	display: inline-block;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
}
.btn_transparent{
	background: transparent;
}
.btn_colored{
	background: #77be2d;
	border: 1px solid #77be2d;
}
.btn_colored:hover,
.consal_btn.btn_colored:hover{
	background: #fff;
	color: #77be2d;
	border-color: #77be2d;
}


/* PROGRESS BAR STYLE */
.progress{
	height: 10px;
	background: #dedede;
	width: 100%;
	border-radius: 0;
	box-shadow: none;
	overflow: visible;
	margin-bottom: 15px;
}
.progress-bar{
	background: #77be2d;
	position: relative;
	box-shadow: none;
}
.progress-bar > span{
	position: absolute;
	font-size: 12px;
	color: #8e8e8e;
	line-height: 36px;
	top: -36px;
	right: -11px;
}
.single_progress > p {
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}


/* SOCIAL ICONS CSS */
.social_icons li a{
	width: 20px;
	line-height: 26px;
	color: #77be2d;
	display: block;
	text-align: center;
	position: relative;
	z-index: 1;
	margin-right: 5px;

}
.social_icons li:last-child a{
	margin-right: 0;
}
.social_icons li a:hover{
	color: #fff;
}
.social_icons li a {
  font-size: 12px;
  text-decoration: none;
}

/* BREADCRUMB AREA CSS */
.breadcrumb {
    background-color: #999;
    position: relative;
    padding: 50px 0;
    margin: 0;
}
.breadcrumb::before{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(100,100,100, 0.5);
}
.page_title > h1 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  font-weight: 600;
}

.bread_crumb {
	margin:0;
	padding:0;
	list-style: none;
}
.bread_crumb span {
    display: inline-block;
    margin-right: 15px;
    position: relative;
    color: #ffffff;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
}
.bread_crumb span a span {
    color: #77be2d;
}
.bread_crumb span a::after {
  color: #fff;
  content: "\f105";
  font-family: "FontAwesome";
  left: 100%;
  position: absolute;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

/* TEXT TRANSFORM UPPERCASE */
.consal_btn,
.single_slider_wrapper .big_title,
.about_us_title h1,
.section_title .title,
.page_title > h1,
.name_designation .name,
.name_desig .name,
.footer_widgets .widget_title h4,
.choose_callback_title > h1, 
.comments .media-heading,
.reply,
.share_project p {
	text-transform: uppercase;
}

/* TRANSITION */
.contact_email ul li a,
.contact_email ul li span,
.tiny_header .social_icons li a,
.single_partner > img,
.mainmenu .navbar-nav li > a,
.portfolio_image::before,
.content_wrapper .links a,
.team_img:before,
.carousel_navs span,
.insta_post ul li a span,
.insta_post ul li a:before,
.footer_text a,
.footer_social ul li a,
.footer_links ul li a,
.footer_widgets.recent_post ul li a,
.blog_text .read_more,
.pagination > li > a,
.blog_title a h4,
.panel-title a,
.single_acco_title,
.consal_textfield,
.blog_title_meta .meta-data p a,
.comment_box input,
.comment_box textarea,
.widget .catagory_list a,
.recent_tags .tag_btn,
.single_recent_post p,
.blog_search input,
.service_catagory ul li a,
.widget .catagory_list a span,
.recent_blog_img a:before,
.recent_post_link,
.camera_prev,
.camera_next,
.consal_btn,
.reply,
.search_form button span,
.search_form,
.menu-item-has-children ul.sub-menu,
.has_mehgamenu .megamenu,
.service_title h4 a,
.mainmenu .navbar-nav li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.menu-item-has-children ul.sub-menu li a:hover,
.menu-item-has-children ul.sub-menu li.current-menu-item a,
.mainmenu .navbar-nav > li.current-menu-item > a,
div#n2-ss-2  a{
	-webkit-transition: all 0.4s ease 0s!important;
	transition: all 0.4s ease 0s!important;
	text-decoration: none;
}

/* PAGINATION */
.pagination_area{
	text-align: center;
  float: left;
  width: 100%;
}
.testimonials .pagination_area {
  float: left;
  width: 100%;
}
.page-numbers {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.page-numbers > li{
	display: inline-block;
	margin: 0 4px;
}
.page-numbers > li > a, .page-numbers > li > span {
  background: #77be2d none repeat scroll 0 0;
  border: 1px solid #dddddd;
  color: #dddddd;
  display: block;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 35px;
}
.page-numbers > li > a:hover,
.page-numbers > li .current{
	background: #77be2d;
	color: #fff;
	border-color: #77be2d;
}
.page-numbers > li > a > span{
	font-size: 18px;
	vertical-align: -1px;
}
.page-numbers > li:first-child > a, .page-numbers > li:first-child > span{
	border-radius: 0;
}
.page-numbers > li:last-child > a, .page-numbers > li:last-child > span{
	border-radius: 0;
}
.navigation.pagination {
  margin: 0;
}


/* KEYFRAMES */
@-webkit-keyframes fadeInLeftShort{
    from{
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 0;
        visibility: hidden;
    }
    to{
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fadeInLeftShort{
    from{
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 0;
        visibility: hidden;
    }
    to{
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
}
-webkit-@keyframes fadeInLeftShort{
    from{
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 0;
        visibility: hidden;
    }
    to{
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
}
.fadeInLeftShort{
    -webkit-animation-name: fadeInLeftShort;
    animation-name: fadeInLeftShort;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/* PRELAODER */
.preloader-bg {
    background-color: #333;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
}
@-webkit-keyframes clockwise {
  to {-webkit-transform: rotate(360deg) translatez(0);transform: rotate(360deg) translatez(0);}
}
@keyframes clockwise {
  to {-webkit-transform: rotate(360deg) translatez(0);transform: rotate(360deg) translatez(0);}
}
-webkit-@keyframes clockwise {
  to {-webkit-transform: rotate(360deg) translatez(0);transform: rotate(360deg) translatez(0);}
}

.preloader {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    box-shadow: 12px -12px hsla(0, 0%, 100%, 0.125), 17px 0 hsla(0, 0%, 100%, 0.25), 12px 12px hsla(0, 0%, 100%, 0.375), 0 17px hsla(0, 0%, 100%, 0.5), -12px 12px hsla(0, 0%, 100%, 0.625), -17px 0 hsla(0, 0%, 100%, 0.75), -12px -12px hsla(0, 0%, 100%, 0.875), 0 -17px hsl(0, 0%, 100%);
    -webkit-animation: clockwise 0.75s steps(8, end) infinite;
    animation: clockwise 0.75s steps(8, end) infinite;
    position: absolute;
    left: 50%;
    top: 50%;
}

/* TINY HEADER */
.tiny_header{
	padding: 10px 0;
	background: #fff;
}
.tiny_header .contact_email{
	float: left;
}
.social_icons{
	display: inline-block;
	float: right;
}
.social_icons ul,
.tiny_header .contact_lang ul{
	margin:0;
	padding:0;
}
.social_icons li,
.tiny_header .contact_lang li{
	display: inline-block;
	list-style: none;
}
.contact_email ul {
 	margin:0;
	padding:0;
}
.contact_email ul li {
  display: inline-block;
  line-height: 26px;
  list-style: outside none none;
  margin-right: 17px;
}
.contact_email ul li:last-child{
	margin: 0;
}
.contact_email ul li a, 
.contact_email ul li span {
    font-size: 14px;
    text-decoration: none;
}
.contact_email ul li a:hover{
	text-decoration: underline;
	color: #77be2d;
}
.contact_email ul li span i{
	color: #77be2d;
	font-size: 12px;
	margin-right: 7px;
}
/* END TINY HEADER AREA */


/* MAIN MENU STYLES */
.collapse.navbar-right.navbar-collapse{
	padding-right: 0;
}
.navbar-default{
	margin: 0;
	border:0;
	border-radius: 0;
}
.nav_shadow{
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.05);
}
.mainmenu .navbar > .container .navbar-brand{
	margin-left: 0;
	padding-top: 20;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	width: 140px;
}
.mainmenu .navbar > .container .navbar-blog-info {
  clear: unset;
  float: left;
  font-size: 45px;
  line-height: 52px;
  margin: 0;
}
.mainmenu .navbar > .container .navbar-blog-info a {
  font-size: 28px;
}
.mainmenu .navbar-nav  li >a{
	color: #333;
	font-size: 14px;
	line-height: 70px;
	display: block;
	padding: 0 18px;
	font-weight: 600;
	position: relative;
	font-weight: 500;
	text-decoration: none;
}
.mainmenu .navbar-nav > li.menu-item-has-children > a:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  border-top: 5px solid;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transform: translateY(-50%);
}
.menu-item-has-children{
	position: relative;
}
.menu-item-has-children ul.sub-menu {
  width: 210px;
}
ul.sub-menu{
	margin:0;
	padding:0;
	list-style: none;
}
.menu-item-has-children ul.sub-menu {
	position: absolute;
	padding: 10px;
	background: #FFF;
	z-index: -1;
	top: calc(100% + 20PX);
	opacity: 0;
	visibility: hidden;
}
.menu-item-has-children:hover > ul.sub-menu {
	top: 100%;
	opacity: 1;
	visibility: visible;
	z-index: 3;
}
.menu-item-has-children ul.sub-menu li a, .has_mehgamenu .megamenu ul li a {
  font-size: 13px;
  line-height: 18px;
  padding: 5px 0 5px 5px;
  text-decoration: none;
}
.mainmenu .navbar-nav li > a:hover,
.mainmenu ul li.current-page-parent > a, 
.mainmenu ul li.current_page_item > a,
.mainmenu ul li.current-page-parent > a,
.mainmenu ul li.current_page_ancestor > a {
  color: #77be2d;
}
.has_mehgamenu .megamenu ul li a:hover{
	color: #0096ff;
}
.mainmenu ul li ul ul.sub-menu {
  width: 195px;
}
.mainmenu ul ul ul.sub-menu {
    left: 100%;
    top: 0;
	transform: translateY(-20%);
}

/* MENU SEARCH BUTTON */
.serach_icon{
	display: inline-block;
	position: relative;
	padding: 0 10px;
	float: right;
}
.serach_icon:hover .search_form{
	visibility: visible;
	opacity: 1;
}
.search_form {
  position: absolute;
  z-index: 1;
  right: -9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 230px;
  opacity: 0;
  visibility: hidden;
  transition: 0s !important;
}
.serach_icon i{
	line-height: 70px;
	cursor: pointer;
}
.search_form input {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  font-size: 14px;
  line-height: 40px;
  margin-right: -5px;
  padding: 0 15px;
  width: 194px;
  transition: 0s !important;
}
.search_form button i{
	line-height: 42px;
	color: #ddd;
}
.search_form button{
	background: #fff;
	border: none;
	border-radius: 0 3px 3px 0;
	padding: 0 15px 0 0;
	position: absolute;
}
/********************************
					ENDS GENERAL CSS
---------------------------------*/



/*****************************
    START HERO AREA CSS
*****************************/
/* slider css goes here */
.consal_home1 .hero_section,
.consal_home2 .hero_section{
	overflow: hidden;
}
.camera_overlayer{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+67,4c4c4c+100&0.9+33,0+100 */ /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.9) 33%,rgba(0,0,0,0.44) 67%,rgba(76,76,76,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.9) 33%,rgba(0,0,0,0.44) 67%,rgba(76,76,76,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#004c4c4c',GradientType=1 ); /* IE6-9 */
}
.cameraContent {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.single_slider_wrapper .small_title{
	font-size: 20px;
	color: #eee;
	line-height: 26px;
	display: inline-block;
}
.single_slider_wrapper .small_title,
.single_slider_wrapper .big_title,
.single_slider_wrapper .hero_text{
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
.single_slider_wrapper .big_title{
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.single_slider_wrapper .hero_text{
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.single_slider_wrapper .big_title{
	font-size: 57px;
	color: #fff;
	font-weight: 700;
	padding: 12px 0;
}
.single_slider_wrapper .hero_text{
	color: #ddd;
	padding-bottom: 28px;
	font-weight: 400;
}

/* slider pagination */
.camera_wraper{
	position: relative;
}
.camera_wrap .camera_pag .camera_pag_ul li{
	width: 15px;
	height: 2px;
	background: #fff;
}
.camera_wrap .camera_pag .camera_pag_ul li > span{
	display: none;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent{
	background: #77be2d;
}
.camera_pag {
	bottom: 0;
	position: absolute;
	left: calc(50% - 575px);
	bottom: 100px;
}

/* hero btn styles */
.hero_btn_wrapper{
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.hero_btn{
	min-width: 150px;
	margin-right: 15px;
}

.hero_btn:hover{
	background: #77be2d;
	border-color: #77be2d;
	color: #fff;
}
/*****************************
    END HERO AREA CSS
------------------------------*/


/*****************************
    START ABOUT US AREA CSS
------------------------------*/
.about_page .section_title {
  float: left;
  text-align: left;
}
.about_page .section_title .title::before {
  left: 25px;
}
.consal_home1 .about_us,
.consal_home2 .about_us{
	padding-top: 67px;
	padding-bottom: 120px;
}
.about_us_title h1 {
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 50px;
	position: relative;
	margin-top: 0;
}
.about_us_title h1::before{
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background: #77be2d;
	bottom: -20px;
}
.about_us_content {
 	padding-bottom: 16px;
}
.consal_btn{
	padding: 0 34px;
}
.about_us_btn .consal_btn:hover{
	color: #77be2d;
	border-color: #77be2d;
}
.about_us_image{
	position: relative;
}
.about_us_image img{
	width: 100%;
}



/*****************************
    END ABOUT US AREA CSS
******************************/


/*****************************
   START CALL 2 ACTION AREA CSS
******************************/
.footer_call_to_action {
	background: #77be2d none repeat scroll 0 0;
	padding: 70px 0;	
}
.call_to_action p {
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
}
.call_to_action h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
}
.call_to_action .consal_btn {
    margin-top: 30px;
}
/*****************************
   END CALL 2 ACTION AREA CSS
-------------------------------/


/*****************************
   START SERVICE AREA CSS
******************************/
.service_wrapper{
	overflow: hidden;
}
.service_icon{
	color: #77be2d;
	font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.service_icon span{
}
.service_title h4 {
    margin-top: 20px;
}
.service_title h4 a {
	text-transform: capitalize;
	line-height: 24px;
	color: #333;
	font-weight: 600;
}
.service_title h4 a:hover{
	color: #77be2d;
}
.single_service {
    padding: 25px;
    background: #fff;
    margin-top: 30px;
}
.service_two .single_service{
    padding: 0px;
    text-align: left;
    margin-top: 30px;
}
.service_two .single_service h3 a {
    color: #333;
}

.related-services h3 {
	margin-left: 15px;
}

.related-services {
    margin-top: 50px;
}

a:hover h4 {
    color: #77be2d;
}

/*****************************
   END SERVICE AREA CSS
------------------------------*/

/*****************************
   START PORTFOLIO AREA CSS
******************************/
.vc_row.wpb_row.vc_row-fluid.portfolio-section.vc_hidden{
	opacity:1;
}
.portfolio {
  overflow: hidden;
}

/* portfolio filter area */
.portfolio_filter{
	margin-top: 0;
}
.portfolio_filter{
	text-align: center;
	margin-top: 22px;
}
.filter_list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.portfolio_filter ul li{
    display: inline-block;
}
.portfolio_filter ul li span{
	font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0 20px;
    line-height: 30px;
    display: block;
    position:relative;
    cursor: pointer;
}
.portfolio_filter ul li:first-child span{
	margin-left: 0;
}
.portfolio_filter ul li:last-child span{
	margin-right: 0;
}
.portfolio_filter ul li span:hover,
.portfolio_filter ul li.active span{
    color: #77be2d;
}

.filter_list li span::before{
    left: 50%;
}
.filter_list li span::after{
 	right: 50%;
}

.filter_list li span:hover::before,
.filter_list li.active span::before,
.filter_list li span:hover::after,
.filter_list li.active span::after{
    opacity: 1;
    visibility: visible;
    width: 50%;
}

.filter_list li span:hover::after,
.filter_list li.active span::after{
    opacity: 1;
    visibility: visible;
}


/* portfolio area */
.portfolio_wrapper{
	overflow: hidden;
}
h2.portfolio-title {
  margin: 0;
}
.portfolio_wrapper .mix ,
.portfolio_wrapper .grid_item {
	margin-top: 30px;
}
.portfolio_image img{
	max-width: 100%;
}
.portfolio_image::before{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	top:0;
	left: 0;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.single_portfolio_item{
	position: relative;
}
.single_portfolio_item:hover .portfolio_image::before{
	visibility: visible;
	opacity: 1;
}
.portfolio_item_top_layer{
	position: absolute;
	top: 0;
	width: calc(100% - 60px);
	left: 30px;
	text-align: center;
	top: 30px;
	height: calc(100% - 60px);
}

.portfolio_item_top_layer:before{
	content: '';
	position: absolute;
	border: 1px solid rgba(119, 190, 45, 0.6);
	-webkit-transform: scale(0);
	transform: scale(0);
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.single_portfolio_item:hover .portfolio_item_top_layer:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	width: 100%;
	height: 100%;
}
.portfolio_item_top_layer .content_wrapper{
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 2;
	left: 50%;
}
.portfolio_item_top_layer .content_wrapper .links a{
	width: 35px;
	height: 35px;
	color: #fff;
	background: #77be2d;
	display: inline-table;
	margin-right: 2px;
	opacity: 0;
	visibility: hidden;
}
.portfolio_item_top_layer .content_wrapper .links a:hover{
	background: #fff;
	color: #77be2d;
}
.portfolio_item_top_layer .content_wrapper .links h2.portfolio-title a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 0px;
	opacity: 0;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	visibility: hidden;
	width: 100%;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}
.single_portfolio_item .links a {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}
.single_portfolio_item:hover .links a{
	-webkit-transform: translate(0);
	transform: translate(0);
	visibility: visible;
	opacity: 1;
}
.portfolio_item_top_layer .content_wrapper .links span{
	vertical-align: middle;
	display: table-cell;
}
.single_portfolio_item:hover .portfolio_item_top_layer .content_wrapper .links h2.portfolio-title a {
	opacity: 1;
	width: 100%;
	visibility: visible;
	-webkit-transition-delay: 0.4s;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
/*****************************
   END PORTFOLIO AREA CSS
-----------------------------*/

/*****************************
   START WORK AND SKILL
*****************************/
.what_we_do .section_title p{
	font-weight: 400;
}
.works_skill .section_title{
	text-align: left;
}
.work_point ul{
	list-style: none;
	margin:0;
	padding:0;
}
.work_point ul li{
	line-height: 24px;
	color: #8e8e8e;
	margin-bottom: 16px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
}
.work_point ul li::before {
  font-family: fontawesome;
  content: "\f058";
  position: absolute;
  left: 1px;
  top: 1px;
}
.work_point ul li .icon span{
	display: table-cell;
	vertical-align: middle;
}
/*****************************
   END WORK AND SKILL
-----------------------------*/



/*****************************
  START TEAM AREA
-----------------------------*/

.single_team_member {
	display: block;
	margin-top: 30px;
	padding-bottom: 30px;
	background-color: #fff;
}

.social_links ul{
	margin:0;
	margin-top: 15px;
	padding:0;
	list-style: none;
	text-align: center;
}

.social_links ul li {
    display: inline-block;
    width: 25px;
}

.social_links ul li a {
    font-size: 20px;
}

.name_designation{
	text-align: center;
	margin-top: 25px;
}

.name_designation .name {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
}

.team_slider_wrapper {
    position: relative;
    margin-top: 10px;
}

.carousel_navs,
.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 99;
}

.carousel_navs span, 
.owl-nav [class*=owl-] {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #77be2d;
    background: #f5f5f5;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    top: 0;
    margin-top: -20px;
    position: absolute;
}

.carousel_navs span:hover, 
.owl-nav [class*=owl-]:hover {
	color: #fff;
	background: #77be2d;
	border-color: #77be2d;
}

.carousel_navs	.prev, .owl-prev {
	left: 0;
}
.carousel_navs	.next, .owl-next {
	right: 0;
}

/*****************************
   END TEAM AREA
-----------------------------*/


/*****************************
   START TESTIMONIAL AREA
*****************************/
.testimonial_wrapper {
 	margin-top: 20px;
}

.single-testimonial {
    position: relative;
    padding: 20px;
    margin: 15px;
    background: #f5f5f5;
}

.test-meta {
    margin-bottom: 30px;
    overflow: hidden;
}

.test-meta img {
    max-width: 80px;
    float: left;
    margin-right: 15px;
    border-radius: 100px;
}

.single-testimonial i.fa {
    float: left;
    margin-right: 15px;
    font-size: 20px;
    color: #77be2d;
}

.single-testimonial p {
    color: inherit;
}

.single-testimonial h4 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 600;
}

.single-testimonial .desg {
    color: inherit;
    font-size: 14px;
    line-height: 16px;
}

/*****************************
   END TESTIMONIAL AREA
-----------------------------*/

/*****************************
   START CONTACT AREA
-----------------------------*/
.contact{
	background: #fcfcfc;
}
.contact_wrapper{
	margin-top: 35px;
	overflow: hidden;
}
form .input_half_width::-moz-placeholder{
	color: #ccc;
}
form .input_half_width::-webkit-input-placeholder{
	color: #ccc;
}
form .input_half_width::-ms-input-placeholder{
	color: #ccc;
}
form .input_half_width:focus{
	border-color: #77be2d;
}
form .wpcf7-form-control-wrap{
	width: calc(50% - 7.5px);
	display: inline-block;
	margin-bottom: 20px;
}
form .wpcf7-form-control-wrap.message{
	width: 100%;
	display: block;
}
form .wpcf7-form-control-wrap.yourname{
	margin-right: 12px;
}
form .input_half_width{
	background: #fff;
	border: 1px solid #eeeeee;
	font-size: 14px;
	line-height: 48px;
	
	padding: 0 20px;
	border-radius: 3px;
	font-weight: 400;
	width:100%;
}
.form_wrapper .message{
	width: 100%;
	height: 133px;
	line-height: 28px;
	padding: 20px;
}
.form_wrapper .message_btn{
	border-color: transparent;
	padding: 0 49px;
	float: left;
	background: #77be2d;
	margin-top: 20px;
}
.form_wrapper .message_btn:hover{
	background: #fff;
	border-color: #77be2d;
	color: #77be2d;
}
.contact_title h4 {
  margin-bottom: 14px;
  margin-top: 0;
}
ul.contact_address{
	margin:0;
	padding:0;
	list-style: none;
}
.contact_address li{
	color: #8e8e8e;
	font-size: 14px;
	line-height: 36px;
	margin-bottom: 5px;
}
.contact_address li span{
	font-size: 20px;
	color: #77be2d;
	vertical-align: middle;
	margin-right: 9px;
}
.contact_address_wrapper .social_icons{
	float: left;
	margin-top: 25px;
}

span.wpcf7-form-control-wrap {
    width: 100% !important;
}

span.wpcf7-form-control-wrap input {
    width: 100% !important;
    padding: 10px;
}

.wpcf7-form-control-wrap textarea {
    max-height: 150px;
}

.address-box i.fa {
    font-size: 20px;
    line-height: 30px;
    width: 50px;
    text-align: center;
    margin-left: -15px;
}

#google_map{
	height: 500px;
}
/*****************************
   END CONTACT AREA
-----------------------------*/


/*****************************
   START PARTNERS AREA
******************************/
.partner_carousel {
    margin-top: 30px;
}

.testimonials.section_padding .partners {
	margin-top:112px;
	float:left;
	width:100%;
}
.single_partner{
	display: inline-block;
}
.single_partner > img {
	-webkit-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	cursor: pointer;
}
.single_partner:hover > img{
	-webkit-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}
/*****************************
   END PARTNERS AREA
-----------------------------*/

/*****************************
   START FOOTER AREA
-----------------------------*/
.footer{
	background-color: #333333;
	position: relative;
}
.footer_about_us p{
	color: #eee;
	padding-top: 29px;
	padding-bottom: 20px;
}
#secondary aside.widget p{
	color: #0f1923;
}
#secondary .widget_wysija input.wysija-email, 
#secondary .widget_wysija input.wysija-input{
	color: #0f1923;
	border: 1px solid #dddddd;
}
.post-password-form label {
	float: left;
}
.post-password-form input[type='password']{
border: 1px solid #dddddd;
border-radius: 0;
line-height: 45px;
padding: 0 35px 0 20px;
width: 100%;	
}
.post-password-form input[type="submit"] {
	border: 1px solid #dddddd;
	border-left: 0;
	border-radius: 0;
	line-height: 45px;
	padding: 0;
	width: 70px;
	margin-top: 28px;
	background: transparent;
	color: #8e8e8e;
}
.post-password-form input[type="submit"]:hover {
	color: #77be2d;
}
.mail_subscription p{
	font-weight: 700;
	color: #fff;
}
.widget_wysija input.wysija-email, .widget_wysija input.wysija-input{
	line-height: 50px;
	width: 100%;
	border-radius: 2px;
	border: none;
	padding: 0 20px;
	position: relative;
}
form.widget_wysija{
	position: relative;
}
form.widget_wysija button.wysija-submit.wysija-submit-field {
  background: #77be2d none repeat scroll 0 0;
  border: medium none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  bottom: 0;
  box-shadow: none;
  display: inline-block;
  font-size: 14px;
  height: 50px;
  line-height: 0;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
}
form.widget_wysija button.wysija-submit.wysija-submit-field i {
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
.footer_widgets {
  margin-bottom: 15px;
  float: left;
}
.footer_widgets .widget_title{
	padding-bottom: 43px;
}
.footer_widgets .widget_title h4,
.footer_logo a.logo-footer{
	color: #fff;
	line-height: 24px;
	display: inline-block;
	position: relative;
	font-weight: 700;
	font-size: 18px;
	margin:0;
}
.footer_logo a.logo-footer {
	line-height: 24px;
}
.footer_widgets .widget_title h4::after{
	content: "";
	position: absolute;
	left: 0;
	width: 75px;
	bottom: -20px;
	height: 2px;
	width: 50px;
	background: #eee;
}
.footer_widgets.recent_post li {
  margin-bottom: 10px;
}
.footer_widgets > ul,.footer_widgets > div > ul {
  margin:0;
  padding:0;
}
.footer_widgets li {
  float: left;
  list-style: outside none none;
  width: 100%;
}
.footer_widgets li li {
  margin-bottom: 0;
}
.footer_widgets li li a {
  margin-bottom: 0;
}
.footer_widgets ul li a {
	color: #f1f1f1;
	font-size: 15px;
	line-height: 32px;
	display: inline-block;
	text-decoration:none;
}
.footer_widgets .navbar-default .navbar-nav > li > a:hover,  
.footer_widgets .menu-item-has-children ul.sub-menu li.current-menu-item a, 
.footer_widgets .mainmenu .navbar-nav > li.current-menu-item > a,
.footer_widgets ul li a:hover{
	color: #77be2d;
}
.footer_widgets.recent_post ul li a {
	margin:0;
}
.footer_widgets ul li span {
  color: #cccccc;
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 18px;
}
.footer_widgets ul li .pull-left {
	margin-right:10px;
}
.footer_widgets.sevices{
	overflow: hidden;
}
.footer_links{
	float: left;
}
.footer_links ul,.footer_links.social ul,.insta_post ul,.footer_social ul {
	margin:0;
	padding:0;
	list-style: none;
}
.footer_links ul li a{
	line-height: 32px;
	color: #f1f1f1;
	display:inline-block;
	text-transform: capitalize;
	font-weight: 400;
}
.footer_links ul li a:hover{
	color: #77be2d;
}
.footer_links.social{
	width: 100%;
}
.footer_links.social ul li a p {
 	display: inline-block;
 	color: #eee;
 	font-size: 12px;
 	font-weight: 400;
}
.insta_post ul li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 2px;
	position: relative;
}
.insta_post ul li a{
	position: relative;
	display: block;
}
.insta_post ul li a:before{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(28,185,200,0.9);
	opacity: 0;
}
.insta_post ul li a:hover:before{
	opacity: 1;
}
.insta_post ul li a span{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	color: #f1f1f1;
	opacity: 0;
}
.insta_post ul li a:hover span{
	opacity: 1;
}

.footer_wrapper {
    padding: 100px 0 50px 0;
}

.footer_widgets a {
    color: #fff;
}

.footer_widgets a:hover {
    color: #77be2d;
}

.tiny_footer{
	padding: 20px 0;
	background: #333;
}
.tiny_footer p{
	color: #eee;
	margin: 0;
}
.tiny_footer p a{
	color: #eee;
}
.footer_text a:hover{
	color: #77be2d;
}
.footer_social{
	float: right;
}
.footer_social ul li{
	display: inline-block;
	margin-right: 10px;
}
.footer_social ul li a{
	color: #eee;
	font-size: 14px;
	line-height: 24px;
}
.footer_social ul li a:hover{
	color: #77be2d;
}
footer caption {
  color: #FFF;
  padding-top: 0;
}
footer table {
  margin: 0;
}
footer {
  color:#FFF;
}


/*****************************
   END FOOTER AREA
-----------------------------*/



/*********************************
*		   	  ABOUT US CSS 	         *
**********************************/
.about_2{
	padding-bottom: 106px;
}



/* Home Blog
------------------------------------------------------- */
.consal_blog_single {
	display: block;
	margin-top: 30px;
	margin-bottom: 5px;
}

.consal_blog_single .ft_img {
    margin-bottom: 20px;
}

.consal_blog_single a {
	color: #77be2d;
}

.consal_blog_single a:hover {
	color: #777
}




/*********************************
*		   	 BLOG PAGE CSS 	         *
**********************************/
/*SINGLE BLOG POST*/
.default-page,
.blog_posts {
    padding-top: 100px;
    padding-bottom: 70px;
}
.single_blog_post {
	margin-bottom: 30px;
}
.single_blog_post.no_margin{
	margin: 0;
}

/*.blog_image*/
.blog_image{
	position: relative;
}

/* sticky post */
article.post.sticky {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 5px solid #dddddd;
  margin-bottom: 30px;
  padding: 15px;
}
.sticky .single_blog_post {
  margin: 0;
}
/* Blog Content */
.single_blog_post .blog_tag {
    width: 100%;
    height: 30px;
    background: #77be2d;
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 4px;
    display: table;
}
.blog_tag > p {
  color: #fff;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.blog_title h3 {
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.blog_text > p {
  margin-bottom: 10px;
}

.blog_title a {
  color: #333;
}

.blog_title a:hover {
	color: #77be2d;
}
.blog_text .read_more {
  background: #77be2d none repeat scroll 0 0;
  color: #ffffff;
  display: table;
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
}

.blog_text .read_more:hover{
	color: #333;
}



/*********************************
*		   	SERVICES PAGE CSS        *
**********************************/
.service_two
.single_service {}

.choose_callback_title > h1{
	font-size: 30px;
	font-weight: 500;
	line-height: 28px;
	color: #0f1923;
}
.choose_us_text > p{
	color: #8e8e8e;
	line-height: 28px;
}
.choose_us_text{
	padding-top: 38px;
	padding-bottom: 25px;
}
.service_content {
    padding: 0 15px 15px;
}
.service_content p {
	margin:0;
}

/* why choose us and callback */
.choose_callback{
	background: #fcfcfc;
}



/* RIGHT SIDE CALLBACK */
.callback_form .consal_textfield{
	width: 100%;
	line-height: 24px;
	border: 0;
	background: #f3f3f3;
	padding: 12px 20px;
	border-radius: 2px;
	margin-bottom: 30px;
	border: 1px solid transparent;
}
.callback_form textarea.consal_textfield {
	height: 150px;
}
.callback_form .wpcf7-form-control-wrap{
	width: 100%;
	margin:0;
}
.consal_textfield:focus{
	border-color: #77be2d;
}
.callback_btn{
	padding: 0 30px;
}


/*********************************
*		   SINGLE BLOG PAGE CSS      *
**********************************/
/* single blog header */
.single_blog_bla{
	padding-top: 120px;
	padding-bottom: 115px;
}
.single_blog_header {
  overflow: hidden;
}
.post_date {
  height: 55px;
  width: 51px;
  background: #77be2d;
	text-align: center;
	display: table;
	padding: 0 8px;
	float: left;
	border-bottom-right-radius: 2px;
	margin-right: 20px;
}
.blog_title_meta h3 {
  margin: 0 0 15px;
}
.post_date p{
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	display: table-cell;
	vertical-align: middle;
}
.single_blog_img{
	margin-bottom: 20px;
}

/* blog post meta */
.blog_title > h4 {
  line-height: 28px;
  margin:0;
}
.meta-data {
  margin-bottom: 10px;
}
.single_blog_header .meta-data {
  margin-bottom: 0;
}
.meta-data p, .meta-data a,.meta-data span,
.meta-data p, .meta-data p a,.meta-data p span,
.blog_title_meta p, .blog_title_meta .meta-data p a, .blog_title_meta .meta-data p span {
  color: #000000;
  font-weight: 500;
  margin-bottom: 0;
  margin-right: 10px;
  text-transform: capitalize;
}
.consal_blog_single .meta-data p a:hover,
.blog_title_meta .meta-data p a:hover {
	color: #77be2d;
}
.single_blog_content .para_2 {
  margin-top: 20px;
}
.con_blog_content > h3 {
  margin: 0 0 15px;
}
blockquote {
    margin: 30px;
    padding: 0;
    padding-left: 15px;
}
blockquote p {
	background: #f5f5f5;
	padding: 20px;
}


/* TAG SHARE CSS */
.tag_share {
  border-top: 1px solid #eeeeee;
  float: left;
  margin-top: 25px;
  overflow: hidden;
  padding: 15px 0;
  width: 100%;
}
.tag_share .tags{
    float: left;
}
.tag_share .share{
    float: right;
}
.tag_share .tags ul li,
.tag_share .share ul li{
    display: inline-block;
}
.tag_share .tags ul li:first-child {
  margin-right: 5px;
}
.tag_share .tags ul li:first-child i {
  color: #77be2d;
  display: inline-block;
  font-size: 18px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  vertical-align: -1px;
}
.tag_share .tags ul li a,
.tag_share .share ul li a{
    color: #999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.tag_share .tags ul li a{
	text-transform: capitalize;
}
.tag_share .tags ul li a:hover, 
.tag_share .share ul li a:hover {
  color: #77be2d;
  text-decoration: none;
}
.tag_share .share ul li a{
    font-size: 16px;
    padding: 0 5px;
}
.tag_share .tags ul li a:after{
    content: ",";
}
.tag_share .tags ul li:last-child a:after{
	display: none;
}
.tag_share .social_icons li a{
	color: #999;
	border-color: #ddd;
}

/* COMMENT AREA CSS */
.comments-area {
	float: left;
	width: 100%;
	margin-top: 50px;
}
.comments{
	margin-top: 20px;
}
.comment_title > h4 {
  color: #0f1923;
  font-weight: 400;
}
.comment_title > h4 .n_of_comment{
  color: #0f1923;
  font-weight: 400;
}
.comments .media {
  border: 1px solid #f5f5f5;
  padding: 35px 20px 25px;
	margin-bottom: 40px;
}

/* comment image css */
.comments .media img {
  border-radius: 50%;
}
.comments .media-left, .media > .pull-left {
  padding-right: 28px;
}

/* comments content css */
.media_top{
	overflow: hidden;
}
.media_top > span {
  color: #8e8e8e;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
}
.comments .media-heading {
	color: #0f1923;
	font-weight: 500;
	margin: 0;
	font-size: 14px;
}
.comment-reply-link {
  background: #77be2d none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  color: #ffffff;
  display: block;
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  width: 80px;
}
.comment-reply-link:hover,.comment-reply-link:focus{
	background: #fff;
	border: 1px solid #77be2d;
	color: #77be2d;
}
.comment-reply-link.visible-xs-m{
	display: none;
}
.comments .heading_left span {
	color: #8e8e8e;
	font-weight: 400;
	font-style: italic;
	font-size: 12px;
	margin-right: 10px;
}
.comments .media-body p {
  margin-top: 18px;
}
.reply_comments {
  margin-left: 118px;
}

/* comments content css */
.comments .media-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.media-list ul.children{
	list-style: none;
}
.comment_box{
	margin-top: 10px;
}
.comment-respond .comment-reply-title{
	margin-bottom: 20px;
}
#reply-title a#cancel-comment-reply-link {
  background: #77be2d;
  color: #ffffff;
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 3px;
}
.comment-respond label{
	font-size: 14px;
	color: #8e8e8e;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 12px;
}

.comment-respond input,
.comment-respond textarea {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  line-height: 50px;
  width: 100%;
	padding: 0 20px;
}
.comment-respond textarea{
	margin-bottom: 30px;
	padding:20px;
}
.comment-respond textarea{
	line-height: 22px;;
}
.comment-respond input:focus,
.comment-respond textarea:focus{
	border-color: #77be2d;
}
.form-submit input{
	padding: 0 38px;
	margin-top: 38px;
}
.btn_colored.cmnt_btn:hover{
	border: 1px solid #77be2d;
}
.comments-area .comment-respond .comment-form #submit, input[type="submit"], botton {
  background: #77be2d none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 46px;
  padding: 0;
  text-align: center;
  width: 185px;
}
.comments-area .comment-respond .comment-form #submit:hover {
  background: #fff none repeat scroll 0 0;
  border-color: #77be2d;
  color: #77be2d;
}
.logged-in-as {
  margin: 0 0 10px;
}
.logged-in-as a {
  color: #8e8e8e;
}
/* BLOG RIGHT SIDEBAR */
.blog_search{
	position: relative;
}
.blog_search input,
.search_bar form input[type="search"]{
	line-height: 45px;
	width: 100%;
	padding: 0 35px 0 20px;
	border: 1px solid #dddddd;
	border-radius: 2px;
}
.blog_search input:focus,
.search_bar form input[type="search"]:focus{
	color: #77be2d;
	border-color: #77be2d;
}
.blog_search .blog_search_btn,
.search_bar .blog_search_btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  color: #8e8e8e;
  line-height: 46px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 0;
}
.search_bar .blog_search_btn {
 width:46px;
}
.blog_search .blog_search_btn:hover{
	color: #77be2d;
}
.not-found .search_bar {
  width: 300px;
}
.search_bar > p {
  margin-top: 25px;
}
.single_blog_bla .recent_tags,
.recent_tags > ul{
	margin-top: 30px;
}
.tags > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#secondary .widget .widget_title h4, .widget .widget_heading, .recent_tags .recent_tg_title {
  border-bottom: 1px solid #f5f5f5;
  margin-top: 0;
  padding-bottom: 14px;
}


aside.widget ul li a {
  color: #777;
  display: inline-block;
  line-height: 28px;
  text-decoration: none;
}
.widget .catagory_list a span{
	margin-right: 5px;
	color: #ddd;
}

aside.widget ul li a:before {
    content: "\f1db";
    font-family: "FontAwesome";
    margin-right: 8px;
    font-size: 13px;
}

aside.widget ul li a:hover,
.widget .catagory_list a:hover,
.widget .catagory_list a:hover span{
	color: #77be2d;
}
.widget .catagory_list {
  margin-top: 20px;
}
.recent_post li .recent_blog_img {
  margin-left: 0;
  margin-right: 10px;
  vertical-align: top;
}
.recent_post li .single_recent_post {
  margin: 0;
  width: 64%;
}
.recent_post li .single_recent_post.noImage {
  width: 100%;
}
.recent_blog_img a{
	position: relative;
	display: block;
	-webkit-transition: all 8s ease 0s;
	transition: all 8s ease 0s;
}

.recent_blog_img a:hover:after,
.recent_blog_img a:hover .recent_post_link{
	opacity: 1;
}
#secondary .recent_post .recent_blog_img a .recent_post_link{
	color: #ffffff;
}
.recent_blog_img a .recent_post_link{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	opacity: 0;
	z-index: 3;
}
.recent_blog_img a .recent_post_link:hover{
	color: #77be2d;
}

#secondary aside .footer_widgets ul li a {
  color: #0f1923;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  display: block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#secondary aside .footer_widgets ul li a:before {
  display:none;
}
.recent_posts {
  margin-top: 25px;
}
.recent_tags li {
  display: inline-block;
}
#secondary aside .footer_widgets ul li span {
  color: #8e8e8e;
  display: inline-block;
  font-weight: 400;
  line-height: 24px;
}
.recent_posts li + li {
  margin-top: 20px;
}
.widget_tag_cloud a {
	color: #777;
    border: 1px solid;
    padding: 0 5px;
    font-size: 14px !important;
    margin: 5px 3px;
    display: inline-block;
    transition: all 0.4s ease 0s!important;
    -webkit-transition: all 0.4s ease 0s!important;
}

.footer_widgets.widget_tag_cloud a {
	color: #fff;
}

.footer_widgets.widget_tag_cloud a:hover {
	color: #77be2d;
}
.recent_tags .tag_btn:hover{
	color: #77be2d;
	border-color: #77be2d;
}
#secondary aside .footer_widgets ul li a:hover{
	color: #77be2d;
}
.widget_recent_comments .comment-author-link {
	color: #333;
	font-weight: 600;
}
.widget_recent_comments a:before {
	display: none;
}


/*********************************
*		      PROJECTS PAGE          *
**********************************/
.portfolio_page .portfolio_filter{
	margin: 0;
}

/*********************************
*		   SINGLE PROJECT PAGE       *
**********************************/
/*SINGLE PROJECT POST*/
.rel-project-section {
	padding-top: 0;
}
.project_about h3 {
  color: #0f1923;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.project_text p + p{
	padding-top: 7px;
}
ul.detail_list{
	margin:0;
	margin-top: 30px;
	padding:0;
	list-style: none;
}
.detail_list li{
	font-weight: 400;
	color: #8e8e8e;
	line-height: 28px;
}
.detail_list span{
	font-weight: 400;
	color: #0f1923;
	margin-right: 5px;
	display: inline-block;
	width: 70px;
}
.detail_list span:after{
	content: " :";
}

.detail_list .project_share {
	float: none;
}
.detail_list .project_share ul {}
.detail_list .project_share ul li {}
.detail_list .project_share ul li a {
	background-color: #f5f5f5;
	width: 30px;

}
.detail_list .project_share ul li a:hover {
	color: #333;
}

/* RELATED PROJECT */
.related_project {
	margin-top: 30px;
}
.related_project .section_title{
	text-align: left;
}
.related_project .section_title .title::before{
	left: 0;
	-webkit-transform:translate(0);
	transform:translate(0);
}
.related_project .portfolio_image::before{
	z-index: 1;
}
.related_project .portfolio_item_top_layer::before,
.related_project .portfolio_item_top_layer::after{
	z-index: 2;
}
.related_project .portfolio_item_top_layer .content_wrapper{
	z-index: 3;
}


/*********************************
*		   SINGLE SERVICE PAGE       *
**********************************/
.single_service_img img{
	width: 100%;
}
.services_section {
    padding: 100px 0;
}
.service_sidebar .service_catagory {
	margin-bottom: 43px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	border: none;
}
.service_catagory > ul{
	border: none;
}
.service_catagory ul li{
	float: none;
}
.service_catagory ul li a{
	display: block;
	text-align: center;
	line-height: 56px;
	font-weight: 400;
	color: #0f1923;
	padding: 0;
	background: #f9f9f9;
	margin-bottom: 10px;
	border-radius: 2px;
	border: none;
}
.service_catagory ul li a:hover,
.service_catagory .nav-tabs > li.active > a,
.service_catagory .nav-tabs > li.active > a:focus,
.service_catagory .nav-tabs > li.active > a:hover{
	background: #77be2d;
	color: #fff;
	border: none;
}
.download_title{
	padding-bottom: 22px;
	border-bottom: 1px solid #f5f5f5;
}
.download_title > h4 {
  color: #0f1923;
  font-size: 18px;
  font-weight: 500;
}
.download_portion .rand_text{
	line-height: 28px;
	color: #8e8e8e;
	padding-top: 27px;
}
.single_service_btns a{
	display: block;
	margin-bottom: 10px;
	font-weight: 500
}
.single_service_btns a:hover{
	background: #77be2d;
	color: #fff;
	border-color: #77be2d;
}
.pdf_btn{
	border: 1px solid #f5f5f5;
	color: #0f1923;
}
.single_service_btns{
	margin-top: 30px;
}
.service_detail_wrapper .service_title{
	margin-top: 44px;
	margin-bottom: 15px;
	padding: 0;
}
.service_detail p{
	margin: 0 0 30px;
}
.focused_para {
  color: #8e8e8e;
  font-style: italic;
  font-weight: 500;
}


/*********************************
*		     TESTIMONIAL PAGE        *
**********************************/

.single_testimonial:hover {
 	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.testimonial_page .partners{
	border-top: 1px solid #f5f5f5;
}



/*********************************
*		       CONTACT PAGE          *
**********************************/
.contact{
	padding-bottom: 120px;
}

/*********************************
*		     ERROR PAGE 404          *
**********************************/
.page_not_found{
	text-align: center;
}
.page_not_found {
  padding-bottom: 120px;
  padding-top: 128px;
  text-align: center;
}
.huge_text {
  margin-bottom: 58px;
}
.huge_text > p {
  color: #77be2d;
  font-size: 168px;
  font-weight: 700;
  line-height: 123px;
  margin: 0;
}
.huge_text p span.zero {
  color: #000000;
  font-size: 120px;
  vertical-align: 19px;
}
.alas_message {
  color: #0f1923;
  font-size: 48px;
  font-weight: 500;
  line-height: 36px;
	margin-bottom: 29px;
}
.directory_text {
  color: #8e8e8e;
  font-style: italic;
  font-weight: 400;
	margin-bottom: 48px;
}
.page_not_found .consal_btn {
  color: #ffffff;
  padding: 0 30px;
}
.page_not_found .consal_btn:hover{
	border-color: #77be2d;
}
#main .blog-grid-area {
  padding: 0;
}
.site-content .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon:after, 
.site-content .vc_tta-color-grey.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon:before {
	border-color:#FFF;
}
/* Revulation Slider Custom Css */
.rev_slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
 
    /* black overlay with 50% transparency */
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 33%, rgba(0, 0, 0, 0.44) 67%, rgba(76, 76, 76, 0) 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(0, 0, 0, 0.9) 33%, rgba(0, 0, 0, 0.44) 67%, rgba(76, 76, 76, 0) 100%) repeat scroll 0 0;
}






/* Visual Composer Override 
---------------------------------------------------- */
h2.wpb_heading {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5d5;
}


/* vc tab */
.vc_tta-tab > a {
	border-radius: 0px !important;
    border-color: #77be2d !important;
    background-color: #77be2d !important;
    color: #fff !important;
}

.vc_tta-tab.vc_active > a {
    border-color: #f5f5f5 !important;
    background-color: #f5f5f5 !important;
    color: #333 !important;
}

.vc_tta-tabs {
    margin-top: 10px;
}


/* vc accordion */
.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title {
    font-size: 16px;
    font-weight: 600;
}
.wpb-js-composer .vc_tta-color-white.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-title>a {
    color: #77be2d !important;
}
.wpb-js-composer .vc_tta-color-white.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-title>a {
    color: #77be2d !important;
}

.wpb-js-composer .vc_tta-color-white.vc_tta-style-modern .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, 
.wpb-js-composer .vc_tta-color-white.vc_tta-style-modern .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before {
	border-color: inherit !important;
}


/* Progress bar */
.wpb_wrapper .vc_progress_bar .vc_single_bar {
    margin-top: 30px;
    border-radius: 0px;
    background: white;
    box-shadow: none;
}

.wpb_wrapper .vc_progress_bar .vc_single_bar .vc_bar {
    border-radius: 0px;
    background-color: #77be2d;
}

.wpb_wrapper .vc_progress_bar .vc_single_bar .vc_label {
    display: block;
    padding: 2px 10px;
    border-radius: 0px;
    color: #fff;
    font-size: 100%;
}

.wpb_wrapper .vc_progress_bar .vc_single_bar .vc_label .vc_label_units {
    float: right;
    color: #000;
}



/* About Testimonial Slider */
.about_slider .flexslider {
	border: none;
	box-shadow: none;
}

.about_slider .flexslider .slides img {
    width: auto;
    display: block;
}

.about_slider .flex-direction-nav {
	
}

.about_slider .flex-direction-nav a {
	top: 28%;
	background-color: #77be2d;
	color: #77be2d;
}


.about_slider .flex-direction-nav a:before {
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
    height: 40px;
    padding-top: 10px;
}

.about_slider .flex-control-paging {
    display: none !important;
}

.about_slider .flex-caption, 
.about_slider .nivo-caption {
	background: #fff !important;
	padding: 0px !important;
}

.about_slider .post-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 25px;
}



/* fun fact area css
------------------------------------------------------------------*/
.fun-fact {
    text-align: center;
    background: #77be2d;
    color: #fff;
    padding: 20px;
    position: relative;
}

.fun-fact.last {
    border: none;
}

.fun-fact i.fa {
    font-size: 30px;
    margin-top: 15px;
}

.fun-fact h3 {
    font-size: 30px;
    font-weight: 500;
}

.fun-fact h3,
.fun-fact p {
    position: relative;
    z-index: 2;
    color: inherit;
}