/*
** Table Of Contents
** bootstrap overrides
** vertical margins and paddings
** general styles
** plugins
  - Owl Carousel
  - FlexSlider
  - prettyPhoto
  - Easy pieChart
  - toTop
** styled lists
** icons
** buttons
** common sections styles:
** light section - .ls
** grey section - .ls.ms
** dark sections - .ds
** color section - .cs
** boxed layout
** template styles
** main menu (min 768px) styles
** main menu mobile styles
** subpages
** widgets
** shortcodes
** utilites
*/
/*
**shop
*/
input[disabled] {
	cursor: not-allowed;
	opacity: .4;
}

/* sort panel */
.shop-sorting {
	line-height: 1;
	margin-top: -10px;
}

.shop-sorting label {
	padding-right: 10px;
}

.shop-sorting select {
	min-width: 270px;
}

.woocommerce-ordering {
	min-width: 250px;
}

.woocommerce-result-count {
	line-height: 40px;
	margin-bottom: 0;
}

#toggle_shop_view:before,
#toggle_shop_view:after {
	border-radius: 1px;
	color: #7f7f7f;
	display: inline-block;
	font-family: "FontAwesome";
	font-size: 28px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	width: 36px;
}

#toggle_shop_view:before {
	color: #ec6648;
	content: "\f009";
	margin-right: 5px;
}

#toggle_shop_view:after {
	content: "\f0c9";
}

#toggle_shop_view.grid-view:before {
	color: #7f7f7f;
}

#toggle_shop_view.grid-view:after {
	color: #ec6648;
}

#sort_view {
	background-color: #fff;
	color: #24272e;
	display: inline-block;
	font-size: 14px;
	padding: 12px 16px 13px;
}

.columns-1 .product {
	float: none;
	margin-right: 0;
	width: 100%;
}

@media (min-width: 768px) {
	.columns-2 .product,
	.columns-4 .product,
	.columns-3 .product {
		float: left;
		width: 50%;
	}
}

@media (min-width: 992px) {
	.columns-3 .product {
		float: left;
		width: 33.33333333%;
	}

	.columns-4 .product {
		float: left;
		width: 25%;
	}

	.col-md-8 .columns-3 .product {
		float: left;
		width: 50%;
	}

	.col-md-8 .columns-4 .product {
		float: left;
		width: 50%;
	}

	.columns-2 .product {
		float: left;
		width: 50%;
	}

	.columns-2 .product:nth-child(2n + 1) {
		clear: both;
	}
}

@media (min-width: 1200px) {
	.col-md-8 .columns-3 .product {
		width: 33.33333333%;
	}

	.col-md-8 .columns-4 .product {
		width: 25%;
	}
}

.product .images,
.product .thumbnails a,
.product .item-media {
	display: block;
	overflow: hidden;
}

.product .images img,
.product .thumbnails a img,
.product .item-media img {
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.product .images:hover img,
.product .thumbnails a:hover img,
.product .item-media:hover img {
	opacity: 0.8;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 0;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
}

.products:before,
.products:after {
	clear: both;
	content: "";
	display: block;
}

.upsells .products,
.related .products {
	margin-left: 0;
	margin-right: 0;
}

li.product {
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.owl-carousel li.product {
	margin-bottom: 0;
}

.owl-item .product {
	padding: 0;
}

.product .row {
	position: relative;
}

.product > [class*="col-"] {
	margin-top: 0;
	position: static;
}

.product > [class*="col-"].images a {
	display: block;
	position: relative;
}

.product h3.entry-title,
.product h2.woocommerce-loop-product__title {
	font-size: 30px;
	margin-bottom: 0.3rem;
	text-transform: uppercase;
}

.product .item-content .price {
	display: block;
	margin-top: 25px;
}

.product .vertical-item.content-padding .item-content {
	padding: 25px 20px 30px;
}

@media (min-width: 400px) {
	.product .vertical-item.content-padding .item-content {
		padding: 35px 40px 40px;
	}
}

@media (min-width: 1200px) {
	.product .vertical-item.big-padding .item-content {
		padding: 55px 60px 60px;
	}
}

.product .woocommerce-LoopProduct-link .woocommerce-loop-product__title {
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.product .woocommerce-LoopProduct-link:hover .woocommerce-loop-product__title {
	color: #ec6648;
}

.product .product-media {
	position: relative;
}

.product .images {
	position: relative;
}

.product .newproduct,
.product .onsale {
	background-color: #ec6648;
	border-radius: 0;
	bottom: 0;
	color: #24272e;
	font-family: "Anton", sans-serif;
	font-size: 20px;
	left: 0;
	padding: 7px 18px;
	position: absolute;
	text-transform: uppercase;
	z-index: 1;
}

.product .newproduct {
	bottom: auto;
	left: auto;
	right: 0;
	top: 0;
}

.product .product_buttons:last-child {
	margin-bottom: 5px;
	margin-top: 20px;
}

.product .product_type_external,
.product .product_type_grouped,
.product .add_to_cart_button,
.product .added_to_cart {
	background-color: #ec6648;
	color: #24272e;
	display: block;
	font-family: "Fjalla One", sans-serif;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 1;
	padding: 22px 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}

@media (min-width: 1600px) {
	.product .product_type_external,
	.product .product_type_grouped,
	.product .add_to_cart_button,
	.product .added_to_cart {
		padding: 32px 30px;
	}
}

.product .product_type_external:hover,
.product .product_type_external:active,
.product .product_type_grouped:hover,
.product .product_type_grouped:active,
.product .add_to_cart_button:hover,
.product .add_to_cart_button:active,
.product .added_to_cart:hover,
.product .added_to_cart:active {
	background-color: #fff;
	color: #24272e;
}

.product .add_to_cart_button.added {
	display: inline-block;
	font-size: 0;
	padding: 22px 10px;
	-webkit-transition: none;
	transition: none;
	width: 60px;
}

.product .add_to_cart_button.added:before {
	content: "\e114";
	font-family: "rt-icons-2" !important;
	font-size: 16px;
}

.product .added_to_cart {
	background-color: #fff;
	border-color: #ec6648;
	color: #24272e;
	display: inline-block;
	float: none;
	font-size: 0;
	padding: 22px 10px;
	-webkit-transition: none;
	transition: none;
	width: 60px;
}

.product .added_to_cart:before {
	content: "\f07a";
	font-family: FontAwesome;
	font-size: 16px;
}

.product .added_to_cart:hover {
	background-color: #ec6648;
}

@media (min-width: 1200px) {
	.product .add_to_cart_button.added,
	.product .added_to_cart {
		padding: 32px 10px;
		width: 80px;
	}
}

.related,
.upsells {
	margin-top: 55px;
	padding-left: 15px;
	padding-right: 15px;
}

.related > h2:first-child,
.upsells > h2:first-child {
	font-size: 30px;
	margin: 0 0 20px;
}

@media (min-width: 992px) {
	.related > h2:first-child,
	.upsells > h2:first-child {
		font-size: 40px;
	}
}

.related .products {
	margin-top: 55px;
}

.upsells + .related {
	margin-top: 30px;
}

.price {
	font-size: 16px;
}

.price del {
	color: #7f7f7f;
	margin-right: 10px;
}

.price ins {
	text-decoration: none;
}

.woocommerce-loop-product__link + .price {
	display: block;
	margin-bottom: 20px;
	margin-top: 5px;
}

.price[class*="bg_color"] {
	border-radius: 10px;
	color: #fff;
	font-weight: 600;
	padding: 7px 10px;
}

.widget .price {
	line-height: 1;
}

.woocommerce-loop-product__link:hover,
.woocommerce-loop-product__link:active,
.woocommerce-loop-product__link:focus {
	color: #ec6648;
}

/* single-product */
.thumbnails-wrap {
	margin-top: 9px;
}

.summary h1 {
	font-size: 30px;
	margin-bottom: 0.2rem;
	margin-top: 0;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	.summary h1 {
		font-size: 40px;
	}
}

.summary .product-rating,
.summary .woocommerce-product-rating {
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-bottom: 10px;
}

.summary .price {
	color: #ec6648;
	display: block;
	position: static;
}

.summary .price del {
	color: #7f7f7f;
}

.summary .woocommerce-variation-price .price {
	padding-top: 0;
}

.summary .short-description {
	margin-top: 20px;
}

.summary .stock {
	margin-bottom: 0;
}

.summary .email-to {
	margin-bottom: 10px;
}

.summary .product-option-name {
	display: inline-block;
	margin: 10px 0;
}

.summary .theme_button {
	margin-top: 0;
}

.summary .theme_button.wc-variation-selection-needed {
	cursor: not-allowed;
	opacity: .4;
}

.summary .posted_in .small_button {
	margin-left: 5px;
	padding-left: 6px;
	padding-right: 6px;
}

.summary .product_meta > * {
	font-weight: 500;
}

.summary .product_meta > * > * {
	font-weight: 300;
}

.summary .product_meta > span {
	display: inline-block;
	min-width: 50%;
}

.summary .product_meta > span.sku_wrapper {
	display: block;
}

.summary .product_meta a {
	margin: 0 0 0 6px;
}

.summary [itemprop="description"] {
	margin: 30px 0;
}

.summary ul.list1 li {
	margin-top: 0;
	padding-bottom: 14px;
	padding-left: 0;
	padding-top: 14px;
}

.summary ul.list1 li span:first-child {
	min-width: 100px;
}

.summary ul.list1 li:before {
	display: none;
}

.summary form.cart {
	margin-top: 25px;
}

.summary .reset_variations {
	display: inline-block !important;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin-top: 20px;
	text-transform: uppercase;
}

.summary .reset_variations:before {
	content: "\e117";
	font-family: "rt-icons-2";
	font-size: 14px;
	position: relative;
	top: 1px;
}

.summary label {
	color: #ec6648;
	margin: 0;
}

.ds .summary label {
	color: #ec6648;
}

.summary select {
	padding-left: 20px;
	padding-right: 20px;
}

.summary .single_add_to_cart_button {
	padding-bottom: 23px;
	padding-top: 23px;
}

.summary .product_meta {
	border: 1px solid #414143;
	border-width: 1px 0;
	margin-top: 30px;
}

.summary .product_meta a {
	color: #ec6648;
}

.summary .product_meta a:hover {
	color: #fff;
}

.summary .product_meta > span {
	display: block;
	padding: 15px 0;
}

.summary .product_meta > span + span {
	border-top: 1px solid #414143;
}

.quantity {
	display: inline-block;
	position: relative;
}

.quantity [type="button"] {
	background-color: transparent;
	border: none;
	color: transparent;
	height: 10px;
	line-height: 1;
	position: absolute;
	right: 20px;
	top: 12px;
	width: 22px;
	z-index: 1;
}

.quantity [type="button"] + i {
	color: #24272e;
	display: inline-block;
	font-size: 16px;
	line-height: 10px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 12px;
	width: 22px;
}

.quantity [type="button"]:hover + i {
	color: #ec6648;
}

.quantity [type="button"].minus {
	bottom: 12px;
	top: auto;
}

.quantity [type="button"].minus + i {
	bottom: 12px;
	top: auto;
}

@media (min-width: 1200px) {
	.summary .quantity [type="button"] {
		top: 17px;
	}

	.summary .quantity [type="button"] + i {
		top: 17px;
	}

	.summary .quantity [type="button"].minus {
		bottom: 17px;
		top: auto;
	}

	.summary .quantity [type="button"].minus + i {
		bottom: 17px;
		top: auto;
	}
}

.quantity [type="number"] {
	max-width: 95px;
	min-width: 70px;
	padding-left: 25px;
	padding-right: 40px;
}

.summary .quantity {
	margin-bottom: 10px;
	margin-right: 6px;
}

.woocommerce-grouped-product-list-item__quantity .quantity {
	margin: 0;
}

.variations td {
	border: 0;
	display: block;
	padding: 3px 0;
}

.variations td.value {
	margin-bottom: 20px;
}

.product_meta_bottom {
	margin: 0 0 20px;
}

.owl-carousel.products {
	margin-bottom: 0;
}

.owl-carousel.thumbnails-wrap {
	margin: 10px 0 0;
}

.owl-carousel.thumbnails-wrap .owl-dots {
	margin: 10px 0 5px;
}

.owl-carousel.thumbnails-wrap .owl-dots .owl-dot span {
	border-width: 1px;
	height: 10px;
	width: 10px;
}

.product-icons .teaser [class*="_bg_color"] {
	padding: 10px;
}

.product + .nav-tabs,
.woocommerce-tabs {
	margin-top: 60px;
}

/*shop comments*/
.woocommerce-Reviews .comment-reply-title {
	font-family: "Anton", sans-serif;
	text-transform: uppercase;
}

.woocommerce-Reviews .woocommerce-Reviews-title:first-child,
.woocommerce-Reviews .comment-reply-title {
	color: #fff;
	font-size: 30px;
}

.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.commentlist li {
	margin-bottom: 40px;
}

.commentlist li + li {
	position: relative;
}

.commentlist li + li:before {
	background-color: rgba(127, 127, 127, 0.2);
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: -20px;
}

.commentlist li img {
	border-radius: 50%;
	display: block;
	float: left;
	overflow: hidden;
	width: 80px;
}

.commentlist .comment-text {
	overflow: hidden;
	padding: 0 0 0 20px;
	position: relative;
}

.commentlist .comment-text .description {
	margin-top: 10px;
}

.commentlist .meta {
	color: #ec6648;
	font-family: "Fjalla One", sans-serif;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 1.2em;
	text-transform: uppercase;
}

.commentlist .meta .woocommerce-review__dash {
	font-size: 0;
	margin: 0 5px;
}

.commentlist .meta .woocommerce-review__dash:before {
	content: "/";
	font-size: 14px;
}

.woocommerce-tabs .tab-content h2 {
	font-size: 30px;
	text-transform: uppercase;
}

.woocommerce-tabs .tab-content .comment-respond {
	margin: 60px 0 0;
}

.woocommerce-tabs .tab-content .comment-respond h3 {
	font-size: 30px;
	text-transform: uppercase;
}

.woocommerce-tabs .tab-content .comment-respond h4 {
	font-size: 28px;
	margin-bottom: 0;
}

/*comment respond form*/
#review_form textarea,
#review_form [type*='text'],
#review_form [type*='email'] {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

@media (min-width: 992px) {
	#review_form .comment-form-author {
		float: left;
		padding-right: 5px;
		width: 50%;
	}

	#review_form .comment-form-email {
		float: left;
		padding-left: 5px;
		width: 50%;
	}

	#review_form .form-submit {
		clear: both;
		margin-bottom: 0;
	}
}

.comment-form-rating label[for] {
	display: block;
}

/* cart */
.shop_table ul {
	list-style: none;
	padding: 0;
}

.shop-adds {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}

.shop-adds .fa {
	padding: 0 10px;
}

.shop-adds.teaser {
	margin-bottom: 0;
}

.shop-adds.teaser [class*="_bg_color"] {
	padding: 12px;
}

table.cart {
	margin-bottom: 30px;
	margin-top: 0;
}

table.cart img {
	max-width: 100px;
}

table.cart h4 {
	font-size: 16px;
	margin-bottom: 4px;
}

table.cart td,
table.cart th {
	padding: 18px 20px;
	vertical-align: middle;
}

table.cart .coupon {
	display: inline-block;
}

table.cart a {
	color: #fff;
}

table.cart td.product-name {
	font-size: 18px;
}

table.cart .product-remove {
	text-align: center;
}

table.cart .attachment-shop_thumbnail {
	min-width: 100px;
}

table.cart .product-info {
	min-width: 200px;
}

.coupon {
	margin-bottom: 4px;
}

.coupon .button {
	background-color: #ec6648;
	color: #24272e;
	padding: 23px 30px;
	vertical-align: top;
}

.coupon .button:hover {
	background-color: #fff;
}

.coupon + .button {
	background-color: #fff;
	color: #24272e;
	padding: 23px 30px;
	vertical-align: top;
}

.coupon + .button:hover {
	background-color: #ec6648;
}

form.cart .theme_button {
	margin: 0;
}

form.cart .quantity + .theme_button {
	vertical-align: top;
}

.cart_totals {
	margin-top: 60px;
}

.cart_totals > h2:first-child {
	text-transform: uppercase;
}

.cart_totals table {
	margin: 0 0 50px;
}

.cart_totals table th,
.cart_totals table td {
	padding: 20px 20px;
}

.cart_totals table th {
	width: 140px;
}

/* chekcout */
.shop-info {
	margin-bottom: 15px;
}

#createaccount {
	margin-top: 0;
}

#ship-to-different-address label {
	display: inline-block;
}

#ship-to-different-address label + input {
	margin: 0 12px;
}

.checkout [class*='col-'],
.shop-register [class*='col-'] {
	margin-bottom: 0;
	margin-top: 0;
}

.woocommerce form input[type="radio"] {
	margin-right: 6px;
}

.woocommerce form input[type="checkbox"] {
	margin-right: 6px;
	position: relative;
	top: 2px;
}

.woocommerce form p:last-child {
	margin-bottom: 10px;
}

.form-row {
	margin: 0 0 15px;
}

.form-row:before,
.form-row:after {
	clear: both;
	content: "";
	display: block;
}

.form-row .checkbox {
	margin: -5px 0 0;
}

.form-row .lost_password {
	margin: 15px 0 -15px;
}

.form-row label {
	display: block;
	margin-top: 10px;
}

.form-row [type="email"],
.form-row [type="number"],
.form-row [type="password"],
.form-row [type="text"],
.form-row [type="tel"],
.form-row select,
.form-row textarea {
	display: block;
	width: 100%;
}

.woocommerce-account h2 {
	text-align: center;
	text-transform: uppercase;
}

.woocommerce form.login label,
.woocommerce form.login input,
.woocommerce form.register label,
.woocommerce form.register input {
	float: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 370px;
	text-align: left;
}

.woocommerce form.login label,
.woocommerce form.register label {
	padding-right: 0;
	text-align: center;
	width: auto;
}

.woocommerce form.login [type="submit"],
.woocommerce form.register [type="submit"] {
	display: block;
	margin: 30px auto 10px;
	text-align: center;
}

@media (min-width: 1600px) {
	.woocommerce form.login [type="submit"],
	.woocommerce form.register [type="submit"] {
		min-width: 200px;
	}
}

.woocommerce form.login .lost_password,
.woocommerce form.register .lost_password {
	margin-bottom: 0;
	text-align: center;
}

@media (min-width: 992px) {
	.col2-set {
		float: left;
		padding-right: 50px;
		width: 70%;
	}

	.col2-set.addresses {
		float: none;
		margin: 0 -15px;
		padding: 0;
		width: 100%;
	}

	.col2-set.addresses:before,
	.col2-set.addresses:after {
		clear: both;
		content: "";
		display: block;
	}

	.col2-set.addresses .col-1,
	.col2-set.addresses .col-2 {
		float: left;
		padding: 0 15px;
		width: 50%;
	}

	#order_review_heading,
	#order_review {
		float: left;
		margin-top: 0;
		width: 30%;
	}
}

/* shop single*/
.cart-button {
	margin: 50px 0 55px;
}

.share-title {
	font-size: 20px;
	margin: 56px 0 18px;
}

/* shop */
.shop-item .item-content {
	padding: 30px 40px;
}

.shop-item .item-price {
	font-size: 30px;
	font-weight: 800;
	line-height: 1;
	margin: 9px 0 16px;
}

.shop-item .item-price span {
	font-size: 40px;
}

.shop-item .cart-button {
	margin: 50px 0 28px;
}

.related.products {
	margin-top: 60px;
}

.related.products > h2 {
	font-size: 30px;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	.related.products > h2 {
		font-size: 40px;
	}
}

.related.products .owl-theme .owl-nav {
	opacity: 1;
}

.related.products .owl-theme .owl-nav > div {
	background-color: #ec6648;
	color: #24272e;
	height: 30px;
	width: 30px;
}

.related.products .owl-theme .owl-nav > div:after {
	line-height: 30px;
}

@media (min-width: 500px) {
	.related.products .owl-theme .owl-nav {
		left: auto;
		top: -35px;
		width: 70px;
	}
}

.related-item .item-content {
	padding: 14px 25px;
}

.related-item h4 {
	font-size: 20px;
	line-height: 24px;
}

.related-item .cart-button {
	margin: 14px 0 14px;
}

.select2-container .select2-choice {
	border: none;
	border-radius: 0;
	padding: 10px 20px;
}

.select2-drop-active {
	border-color: #ebe9e8;
}

.woocommerce-checkout h3 {
	text-transform: uppercase;
}

.woocommerce-additional-fields {
	margin-top: 60px;
}

.woocommerce-checkout-payment {
	margin-top: 40px;
}

.woocommerce-checkout-payment .radio {
	margin: 2px 0;
}

.woocommerce-checkout-payment ul {
	list-style: none;
	padding: 0;
}

.woocommerce-checkout-payment li {
	border-bottom: 1px solid #414143;
	padding: 11px 0 6px;
}

.woocommerce-checkout-payment li:first-child {
	border-top: 1px solid #414143;
}

.woocommerce-checkout-payment p {
	margin: 0;
}

.woocommerce-checkout-payment img {
	display: none;
}

.woocommerce-checkout-payment [type="submit"] {
	margin-top: 20px;
}

/*messages*/
.wc-forward {
	float: right;
}

.row > .alert {
	margin-left: 25px;
	margin-right: 25px;
}

/*my account*/
.woocommerce-MyAccount-navigation,
.woocommerce-MyAccount-navigation {
	margin-bottom: 40px;
}

.woocommerce-MyAccount-navigation ul,
.woocommerce-MyAccount-navigation ul {
	padding: 0;
}

.woocommerce-MyAccount-navigation li,
.woocommerce-MyAccount-navigation li {
	display: inline-block;
	margin-right: 20px;
}

.woocommerce-MyAccount-navigation li a:hover,
.woocommerce-MyAccount-navigation .is-active a,
.woocommerce-MyAccount-navigation li a:hover,
.woocommerce-MyAccount-navigation .is-active a {
	background-color: #ec6648 !important;
	color: #24272e !important;
}

.woocommerce-MyAccount-content h2 {
	margin: 40px 0;
}

.woocommerce-Message {
	background: #fff;
	padding: 30px;
}

.woocommerce-Message .woocommerce-Button {
	float: right;
}

.order-actions {
	text-align: center;
}

.customer_details {
	margin-bottom: 60px;
}

.addresses address {
	margin-bottom: 0;
}

/* shop widgets */
/* cart widget */
.widget_shopping_cart h4 {
	font-size: 16px;
	margin-right: 35px;
	margin-top: 0;
}

.widget_shopping_cart .star-rating {
	display: block;
	margin: 5px 0 10px;
}

.widget_shopping_cart .media-body {
	position: relative;
}

.widget_shopping_cart li {
	padding-right: 30px;
}

.widget_shopping_cart .product-quantity {
	display: block;
	line-height: 1;
}

.widget_shopping_cart .price {
	color: #ec6648;
}

.widget_shopping_cart .remove {
	color: #24272e;
	font-size: 0;
	line-height: 1;
}

.widget_shopping_cart .remove:before {
	content: "\f00d";
	font-family: FontAwesome;
	font-size: 16px;
	line-height: 1em;
}

.widget_shopping_cart .remove:hover {
	color: #ec6648;
}

.widget_shopping_cart.darklinks .remove {
	color: #ec6648;
}

.widget_shopping_cart.darklinks .remove:hover {
	color: #fff;
}

.widget_shopping_cart li a + a {
	font-family: "Anton", sans-serif;
	text-transform: uppercase;
}

.widget_shopping_cart .wc-forward {
	float: none;
	margin-right: 10px;
}

.widget_shopping_cart .total {
	font-weight: 400;
	margin: 20px 0;
	text-transform: uppercase;
}

.widget_shopping_cart .quantity {
	display: block;
	font-weight: 400;
	line-height: 1.2em;
}

.widget_shopping_cart .quantity .woocommerce-Price-amount {
	color: #ec6648;
	display: inline;
}

.widget_shopping_cart .buttons {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-align: start;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
}

.widget_shopping_cart .buttons .theme_button {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons {
	-webkit-box-pack: justify;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-pack: justify;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons .button {
	background-color: #ec6648;
	-webkit-box-flex: 1;
	color: #24272e;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;
	margin: 0;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons .button + .button {
	margin-left: 10px;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons .button:hover,
.widget_shopping_cart .woocommerce-mini-cart__buttons .button:active,
.widget_shopping_cart .woocommerce-mini-cart__buttons .button:focus {
	background-color: #fff;
	color: #24272e;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons .button.checkout {
	background-color: #fff;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons .button.checkout:hover,
.widget_shopping_cart .woocommerce-mini-cart__buttons .button.checkout:active,
.widget_shopping_cart .woocommerce-mini-cart__buttons .button.checkout:focus {
	background-color: #ec6648;
}

.widget .woocommerce-Price-amount {
	font-weight: 400;
}

.woocommerce-mini-cart__total strong {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}

/* price filter */
.widget_price_filter input[readonly] {
	display: inline-block;
	margin-bottom: 4px;
	max-width: 80px;
	padding-left: 3px;
	padding-right: 3px;
}

.widget_price_filter .ui-slider-range {
	background: #ec6648;
}

.widget_price_filter .ui-slider-horizontal {
	margin-bottom: 16px;
}

.widget_price_filter label[for] {
	display: inline-block;
	padding-right: 4px;
}

.widget_price_filter .price_label {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}

.widget_price_filter .price_label span {
	color: #ec6648;
}

.widget_price_filter .form-group {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}

.widget_price_filter .price_slider_amount {
	padding-bottom: 80px;
	position: relative;
}

@media (min-width: 1600px) {
	.widget_price_filter .price_slider_amount {
		padding-bottom: 100px;
	}
}

.widget_price_filter input[type="text"] + .theme_button {
	border-radius: 0;
	height: auto;
	left: 0;
	line-height: 1em;
	margin: 0;
	padding: 23px 30px;
	right: 0;
	top: 50px;
	width: auto;
}

@media (min-width: 1600px) {
	.widget_price_filter input[type="text"] + .theme_button {
		padding: 33px 45px;
	}
}

.widget_price_filter .price_slider {
	margin-left: 5px;
	margin-right: 5px;
}

/*! jQuery UI - v1.11.1 - 2014-10-03
* http://jqueryui.com
* Includes: core.css, slider.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.ui-slider {
	background-color: #ebe9e8;
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	background-color: #ec6648;
	cursor: pointer;
	height: 14px;
	position: absolute;
	-ms-touch-action: none;
	touch-action: none;
	width: 14px;
	z-index: 2;
}

.ui-slider .ui-slider-range {
	background-position: 0 0;
	border: 0;
	display: block;
	font-size: .7em;
	position: absolute;
	z-index: 1;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	-webkit-filter: inherit;
	filter: inherit;
}

.ui-slider-horizontal {
	height: 4px;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -7px;
	top: -5px;
}

.ui-slider-horizontal .ui-slider-range {
	bottom: 0;
	top: 0;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	height: 100px;
	width: .8em;
}

.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-bottom: -.6em;
	margin-left: 0;
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

/* color layered nav */
.widget_layered_nav .color-filters li {
	display: inline-block;
	margin: 0 29px 14px 0;
}

.widget_layered_nav .color-filters a {
	background-color: #ccc;
	color: transparent;
	display: inline-block;
	font-size: 0;
	height: 23px;
	position: relative;
	width: 23px;
}

.widget_layered_nav .color-filters a:before {
	border: 1px solid rgba(127, 127, 127, 0.2);
	bottom: -2px;
	content: "";
	display: block;
	left: -2px;
	position: absolute;
	right: -2px;
	top: -2px;
}

.widget_layered_nav .color-filters span {
	left: 5px;
	position: relative;
	top: 2px;
}

/* widget_products */
.widget_products img {
	max-width: 80px;
}

.widget_products .media h3 {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin: 3px 0 10px;
}

.widget_products .price {
	background-color: transparent;
	line-height: 1;
	padding: 0;
	position: static;
}

/*widget_top_rated_products*/
.widget .product-title {
	display: block;
	font-family: "Anton", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.widget .star-rating {
	display: block;
}

/*widget_top_rated_products*/
.widget_top_rated_products p {
	margin-bottom: 0;
}

.widget_top_rated_products .product-title {
	margin-bottom: 2px;
}

.widget_top_rated_products .star-rating {
	margin-bottom: 0;
	margin-top: 0;
}

/*widget_recent_reviews*/
.widget_recent_reviews li {
	padding-top: 12px;
}

.widget_recent_reviews a {
	font-weight: 400;
}

.product_list_widget li {
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	padding-top: 20px;
}

.product_list_widget li:before,
.product_list_widget li:after {
	clear: both;
	content: "";
	display: block;
}

.product_list_widget li:last-child {
	margin-bottom: 0;
}

.product_list_widget img {
	float: left;
	margin: -20px 20px 0 0;
	max-width: 100px;
}

.product_list_widget .remove {
	color: #ec6648;
	position: absolute;
	right: 15px;
	top: 15px;
}

.product_list_widget .remove:hover {
	color: #24272e;
	-webkit-transition: all 0.05s linear 0s;
	transition: all 0.05s linear 0s;
}

.ds .product_list_widget .remove:hover {
	color: #fff;
}

/*widget_rating_filter*/
.widget_rating_filter li {
	clear: both;
	padding: 0;
}

.widget_rating_filter li a {
	display: block;
}

.widget_rating_filter .star-rating {
	display: inline-block;
	margin: 6px 0;
}

.widget_rating_filter .star-rating + .count {
	margin-top: -2px;
}

.widget_layered_nav_filters li {
	padding: 12px 0;
}

@media (max-width: 991px) {
	table.cart {
		display: block;
		overflow-x: auto;
	}
}

@media (min-width: 992px) {
	#order_review_heading,
	#order_review {
		float: left;
	}

	#order_review_heading > table,
	#order_review > table {
		margin-top: 0;
	}
}

.cart-button i {
	position: relative;
}

.cart-button i:after {
	background-color: #ec6648;
	border: 2px solid #fff;
	border-radius: 50%;
	content: "";
	height: 10px;
	position: absolute;
	right: -2px;
	top: -3px;
	width: 10px;
}

.cart-button i.empty:after {
	display: none;
}

.cart-button .total-price {
	color: #ec6648;
	padding-left: 5px;
}

.uws-products.carousel-col-3 {
	margin: 0;
}

.products.owl-carousel {
	margin: 0;
}

.products.owl-carousel li.product {
	width: 100%;
}
